[submodule "env/.config"]
	path = env/.config
	url = https://github.com/tyzerrr/dotfiles
    branch = feat/non-stow
[submodule "tmux-sessionizer"]
	path = tmux-sessionizer
	url = https://github.com/tyzerrr/tmux-sessionizer.git
